{% extends 'layout.html' %}
{% block head %}
    <title>Інтерполяція</title>
{% endblock %}
{% block content %}
    <div class="row justify-content-center my-container my-padding" style="padding-top: 10%">
        <h1 class="display-4">Інтерполяція</h1>
    </div>
    <div class="row justify-content-center my-container my-padding">
        <p><i>Оберіть необхідний метод</i></p>
    </div>
    <div class="col-12 row justify-content-center my-container">
        <div class="col-6">
            <a class="btn btn-outline-primary btn-block" href="/interpolation/lagrange">Метод Лагранжа</a>
        </div>
        <div class="col-6">
            <a class="btn btn-outline-primary btn-block" href="/interpolation/newton">Метод Ньютона</a>
        </div>
        <div class="my-container my-padding">
            <p>Інформацію щодо кожного з методів можна відшукати на <a href="/">головній</a> сторінці!</p>
        </div>
    </div>
{% endblock %}
