{% extends 'layout.html' %}
{% block head %}
    <title>Інтерполяція методом Лагранжа</title>
{% endblock %}
{% block content %}
    {% if error %}
        <div class="row justify-content-center">
            <div class="alert alert-warning alert-dismissable col-8 my-container" align="center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>Виникла непередбачена помилка!</b> Перевірте правильність введених даних.
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center my-container my-padding">
        <h1 class="display-4">Метод Лагранжа</h1>
    </div>
    <div>
        <form action="/interpolation/lagrange" method="post">
            {% csrf_token %}
            <div class="col-10 offset-1 row my-container my-padding">
                <b>Координати заданих точок:</b>
                <input name="list_x" class="form-control my-container" type="text" placeholder="Координати Х заданих точок" required value="{{ list_x_str }}">
                <input name="list_y" class="form-control my-container" type="text" placeholder="Координати Y заданих точок" required value="{{ list_y_str }}">
                <p class="my-container"><i>Інфо: Числа вводяться через проміжок. Кількість координат X та Y повинна співпадати! Числа можуть бути як цілими, так і дробовими. Усі точки повинні бути відсортовані за координатою Х (в порядку зростання). Одному Х повинен відповідати один Y.</i></p>
                <b>Координата Х шуканої точки:</b>
                <input name="X" class="form-control my-container" type="text" placeholder="Координатa X" required value="{{ X }}">
            </div>
            <div class="col-4 offset-4 my-container my-padding">
                <button class="btn btn-outline-primary btn-block" type="submit">Розрахувати</button>
            </div>
        </form>
        {% if Y %}
            <div class="col-10 offset-1 my-container my-padding">
                <h5><b>Розв'язок:</b></h5><p>Координати шуканої точки: <b>({{ X }}; {{ Y }})</b>.</p>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    google.charts.load('current', {'packages':['line']});
                    google.charts.setOnLoadCallback(drawChart);
                    function drawChart() {
                        var data = new google.visualization.DataTable();
                        data.addColumn('number', 'x');
                        data.addColumn('number', 'function(x)');
                        data.addRows({{ coordinates }});
                        var options = {
                            width: 900,
                            height: 500
                        };
                        var chart = new google.charts.Line(document.getElementById('line_top_x'));
                        chart.draw(data, google.charts.Line.convertOptions(options));
                    }
                </script>
                <div id="line_top_x"></div>
            </div>
        {% endif %}
    </div>
{% endblock %}

