{% extends 'layout.html' %}
{% block head %}
    <title>Головна</title>
{% endblock %}
{% block content %}
    <div class="row justify-content-center my-container my-padding" style="padding-top: 10%">
        <h1 class="display-4">Математичне моделювання</h1>
    </div>
    <div class="row justify-content-center my-container my-padding">
        <p><i>Оберіть необхідний розділ</i></p>
    </div>
    <div class="col-12 row justify-content-center my-container">
        <div class="col-6">
            <a class="btn btn-outline-primary btn-block" href="/interpolation">Інтерполяція</a><br>
            <p>Інтерполяція за допомогою наступних методів:</p>
            <ul>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%9C%D0%BD%D0%BE%D0%B3%D0%BE%D1%87%D0%BB%D0%B5%D0%BD_%D0%9B%D0%B0%D0%B3%D1%80%D0%B0%D0%BD%D0%B6%D0%B0">Інтерполяція многочленом Лагранжа</a></li>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%9C%D0%BD%D0%BE%D0%B3%D0%BE%D1%87%D0%BB%D0%B5%D0%BD_%D0%9D%D1%8C%D1%8E%D1%82%D0%BE%D0%BD%D0%B0">Інтерполяція прямим многочленом Ньютона</a></li>
            </ul>
        </div>
        <div class="col-6">
            <a class="btn btn-outline-primary btn-block" href="/nonlinear">Розв'язання нелінійних рівняннь</a><br>
            <p>Розв'язання нелінійних рівняннь за допомогою чисельних методів:</p>
            <ul>
                <li><a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D1%82%D0%BE%D0%B4_%D0%B1%D0%B8%D1%81%D0%B5%D0%BA%D1%86%D0%B8%D0%B8">Метод бісекцій (Метод половинного ділення)</a></li>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%9C%D0%B5%D1%82%D0%BE%D0%B4_%D1%85%D0%BE%D1%80%D0%B4">Метод хорд</a></li>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%9C%D0%B5%D1%82%D0%BE%D0%B4_%D0%9D%D1%8C%D1%8E%D1%82%D0%BE%D0%BD%D0%B0">Метод дотичних (Метод Ньютона)</a></li>
                <li><a href="http://cyclowiki.org/wiki/%D0%9A%D0%BE%D0%BC%D0%B1%D0%B8%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B9_%D0%BC%D0%B5%D1%82%D0%BE%D0%B4">Комбінований метод (Метод хорд та дотичних)</a></li>
                <li><a href="https://uk.wikipedia.org/wiki/%D0%9C%D0%B5%D1%82%D0%BE%D0%B4_%D0%BF%D1%80%D0%BE%D1%81%D1%82%D0%BE%D1%97_%D1%96%D1%82%D0%B5%D1%80%D0%B0%D1%86%D1%96%D1%97">Ітераційний метод (Метод послідовних наближень)</a></li>
            </ul>
        </div>
    </div>
{% endblock %}