{% extends 'layout.html' %}
{% block head %}
    <title>Розв'язання нелінійних рівняннь</title>
{% endblock %}
{% block content %}
    {% if error %}
        <div class="row justify-content-center">
            <div class="alert alert-warning alert-dismissable col-8 my-container" align="center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>Виникла непередбачена помилка!</b> Перевірте правильність введених даних.
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center my-container my-padding">
        <h1 class="display-4">Розв'язання нелінійних рівняннь</h1>
    </div>
    <div>
        <form action="/nonlinear" method="post">
            {% csrf_token %}
            <div class="col-10 offset-1 my-container my-padding">
                <b>Задана функція:</b>
                <input name="function" class="form-control my-container" type="text" placeholder="Функція що аналізується" required value="{{ function }}">
                <p class="my-container"><i>Інфо: В якості змінної використовується 'x' (латинське). Усі правила введення функцій ідентичні правилам у Python. <a href="/nonlinear/rules">Додатково тут</a>.</i></p>
                <b>Інтервал що досліджується:</b>
                <input name="a" class="form-control my-container" type="text" placeholder="Початок (А)" required value="{{ a }}">
                <input name="b" class="form-control my-container" type="text" placeholder="Кінець (В)" required value="{{ b }}">
                <p class="my-container"><i>Інфо: Числа можуть бути як цілими так і дробовими. А повинно бути меньше за В!</i></p>
                <b>Точність розв'язку:</b>
                <input name="E" class="form-control my-container" type="text" placeholder="Точність (Е)" required value="{{ E }}">
                <p class="my-container"><i>Інфо: Точність вказується у форматі: '0.001'. Може бути як дробовим так і цілим.</i></p>
                <b>Метод:</b>
                <select name="method" required class="form-control my-container">
                    {% if method %}
                        {% if method == 'bisection_method' %}
                            <option selected value="bisection_method">Метод бісекцій (Метод половинного ділення)</option>
                            <option value="chord_method">Метод хорд</option>
                            <option value="newton_method">Метод дотичних (Метод Ньютона)</option>
                            <option value="combination_method">Комбінований метод (Метод хорд та дотичних)</option>
                            <option value="iteration_method">Ітераційний метод (Метод послідовних наближень)</option>
                        {% endif %}
                        {% if method == 'chord_method' %}
                            <option value="bisection_method">Метод бісекцій (Метод половинного ділення)</option>
                            <option selected value="chord_method">Метод хорд</option>
                            <option value="newton_method">Метод дотичних (Метод Ньютона)</option>
                            <option value="combination_method">Комбінований метод (Метод хорд та дотичних)</option>
                            <option value="iteration_method">Ітераційний метод (Метод послідовних наближень)</option>
                        {% endif %}
                        {% if method == 'newton_method' %}
                            <option value="bisection_method">Метод бісекцій (Метод половинного ділення)</option>
                            <option value="chord_method">Метод хорд</option>
                            <option selected value="newton_method">Метод дотичних (Метод Ньютона)</option>
                            <option value="combination_method">Комбінований метод (Метод хорд та дотичних)</option>
                            <option value="iteration_method">Ітераційний метод (Метод послідовних наближень)</option>
                        {% endif %}
                        {% if method == 'combination_method' %}
                            <option value="bisection_method">Метод бісекцій (Метод половинного ділення)</option>
                            <option value="chord_method">Метод хорд</option>
                            <option value="newton_method">Метод дотичних (Метод Ньютона)</option>
                            <option selected value="combination_method">Комбінований метод (Метод хорд та дотичних)</option>
                            <option value="iteration_method">Ітераційний метод (Метод послідовних наближень)</option>
                        {% endif %}
                        {% if method == 'iteration_method' %}
                            <option value="bisection_method">Метод бісекцій (Метод половинного ділення)</option>
                            <option value="chord_method">Метод хорд</option>
                            <option value="newton_method">Метод дотичних (Метод Ньютона)</option>
                            <option value="combination_method">Комбінований метод (Метод хорд та дотичних)</option>
                            <option selected value="iteration_method">Ітераційний метод (Метод послідовних наближень)</option>
                        {% endif %}
                    {% else %}
                        <option selected value="bisection_method">Метод бісекцій (Метод половинного ділення)</option>
                        <option value="chord_method">Метод хорд</option>
                        <option value="newton_method">Метод дотичних (Метод Ньютона)</option>
                        <option value="combination_method">Комбінований метод (Метод хорд та дотичних)</option>
                        <option value="iteration_method">Ітераційний метод (Метод послідовних наближень)</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-4 offset-4 my-container my-padding">
                <button class="btn btn-outline-primary btn-block" type="submit">Розрахувати</button>
            </div>
        </form>
        {% if X %}
            <div class="col-10 offset-1 my-container my-padding">
                <h5><b>Розв'язок:</b></h5><p>Функція перетинає вісь ОХ при Х близькому до <b>{{ X }}</b>.</p>
                <p>Графік функції <b>{{ function }}</b> на заданному інтервалі:</p>
                <div>
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript">
                        google.charts.load('current', {'packages':['line']});
                        google.charts.setOnLoadCallback(drawChart);
                        function drawChart() {
                            var data = new google.visualization.DataTable();
                            data.addColumn('number', 'x');
                            data.addColumn('number', 'function(x)');
                            data.addRows({{ coordinates }});
                            var options = {
                                width: 900,
                                height: 500
                            };
                            var chart = new google.charts.Line(document.getElementById('line_top_x'));
                            chart.draw(data, google.charts.Line.convertOptions(options));
                        }
                    </script>
                    <div id="line_top_x"></div>
                </div>
                <p>Послідовність ітерацій:</p>
                {{ log|safe }}
            </div>
        {% endif %}
    </div>
{% endblock %}

