{% extends 'layout.html' %}
{% block head %}
    <title>Правила введення функцій</title>
{% endblock %}
{% block content %}
    <div class="row justify-content-center my-container my-padding">
        <h1 class="display-4">Правила введення функцій</h1>
    </div>
    <div class="col-10 offset-1 row my-container my-padding">
        <h5><i><b>Операції:</b>
        <ul>
            <li><b>+</b> – додаток</li>
            <li><b>-</b> – різниця</li>
            <li><b>*</b> – добуток</li>
            <li><b>/</b> – ділення</li>
            <li><b>**</b> – степінь</li>
            <li><b>(...)</b> – дужки (вказують порядок дій)</li>
        </ul>
        <b>Функції:</b>
        <ul>
            <li><b>sqrt(x)</b> – корінь числа x</li>
            <li><b>factorial(x)</b> – факторіал числа x</li>
            <li><b>abs(x)</b> – модуль (абсолютное значення) числа x</li>
            <li><b>sin(x)</b> – синус числа x</li>
            <li><b>cos(x)</b> – косинус числа x</li>
            <li><b>tan(x)</b> – тангенс числа x</li>
            <li><b>exp(x)</b> – експонента числа x</li>
        </ul>
        <b>Константи:</b>
        <ul>
            <li><b>pi</b> – число пі ~ 3.1415...</li>
        </ul></i></h5>
    </div>
{% endblock %}

